.popularProduct{
    display: flex;
    align-items: start;
    width: 100%;
    justify-content: space-evenly;
}
.popularProduct_left{
    flex: 0.2;
}
.popularProduct_right{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
}
.popularProduct_right_top>h6{
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 35px;
}
.popularProduct_right_top,.popularProduct_right_bottom{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}
.popularProduct_right_top_product{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.popularProduct_right_bottom{
    display: flex;
    flex-direction: column;
}
.popularProduct_right_bottom>h6{
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 35px;
}
.popularProduct_right_bottom_product{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.css-1p5q5e5-MuiStack-root{
    width: 100% !important; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width:600px){
    .popularProduct{
        width: 100%;
    }
    .popularProduct_left{
        display: none;
    }
}