.subnav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  /* margin-top: 10px;
    margin-bottom: 10px; */
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}
.subnav_scrolled {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 0;
}
.subnav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  cursor: pointer;
}
.subnav_logo > img {
  object-fit: contain;
}
.subnav_items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 0.8;
  padding: 0 20px;
}
.subnav_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.subnav_item > img {
  object-fit: contain;
  height: 30px;
  margin-right: 5px;
}
.subnav_button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.subnav_button > :first-child {
  margin-right: 15px;
}
.subnav_button > :last-child {
  margin-right: 15px;
}
.subnav_cart {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 25px;
}
.subnav_cart_link {
  text-decoration: none;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subnav_cart_notification_hover {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 250px;
    background: #fff;
    min-height: 70px;
    display: none;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #6c98ff;
    font-weight: 500;
    flex-direction: column;
  }

.subnav_button_login {
  padding: 8px 14px;
  background-color: #6c98ff;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.subnav_button_singup {
  padding: 5px 10px;
  /* background-color:; */
  background-color: transparent;
  color: #111;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.subnav_modal_box {
  width: 1000px !important;
  height: 600px;
  background-color: #fff;
  display: flex;
  align-items: center;
  /* border: none !important; */
  flex-direction: column;
  border-radius: 10px;
}
.subnav_modal_box_form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 500px;
  margin-top: 20px;
}
.subnav_modal_box_form_left {
  flex: 0.45;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subnav_modal_box_form_left > img {
  object-fit: contain;
  height: 300px;
}
.subnav_modal_box_form_left > p {
  text-align: center;
  margin-top: 10px;
}
.subnav_modal_box_form_right {
  flex: 0.45;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subnav_modal_box_form_right_login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.subnav_modal_box_form_right_login_heading {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px 25px;
}
.subnav_modal_box_form_right_login_heading > h6 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}
.subnav_modal_box_form_right_login_heading > p {
  font-weight: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.subnav_singup {
  color: #28a745;
  cursor: pointer;
  font-weight: 500;
}
.subnav_additional_login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.subnav_additional_login_google {
  margin-right: 10px;
  cursor: pointer;
}
.subnav_additional_login_facebook {
  margin-right: 10px;
  cursor: pointer;
}
.forgetpassword {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 10px;
}
/* .emailTextFiled{
    width: 200px !important;
} */
.login_form_submit {
  background-color: #28a745 !important;
  color: #fff;
  padding: 5px 25px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
.login_form {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  width: 300px !important;
}
.forgetpassword_left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgetpassword_left > input {
  margin-right: 5px;
}
.forgetpassword_right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgetpassword_right > span {
  color: rgb(236, 62, 62);
  cursor: pointer;
}
.forgetpassword_signUp {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  width: 75%;
}
.forgetpassword_left_signup {
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgetpassword_left_signup > input {
  margin-right: 5px;
}
.forgetpassword_left_signup > p {
  font-size: 15px;
}
.forgetpassword_left_ > p {
  font-size: 15px;
}
.subnav_cart_count {
  color: #6c98ff;
  font-weight: bold;
}
.subnav_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.subnav_profile_div{
position: absolute;
top: 100%;
background-color: #6c98ff;
color: #fff;
width: 100px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
padding-left: 10px;
display: none;
transition: display 0.4s ease-in-out;
}
.subnav_profile:hover>.subnav_profile_div{
  display: block;
}
.subnav_profile_div>p{
  font-size: 16px;
  font-weight: 500;
  padding: 1.5px 0;
  cursor: pointer;
}
.subnav_profile_left {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #28a745;
  margin-right: 8px;
  border-radius: 8px;
}
.subnav_profile_left > img {
  height: 40px;
  border-radius: 8px;
}
.subnav_profile_right_heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subnav_profile_right {
  cursor: pointer;
}
.login_form_div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 4px;
}
.login_form_div > input {
  border: transparent;
  outline: transparent;
  width: 90%;
  height: 35px;
}
.subnav_cart {
  position: relative;
}
.subnav_cart_notification {
  position: absolute;
  top: 25px;
  right: 30px;
  width: 200px;
  background: #fff;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #6c98ff;
  font-weight: 500;
  flex-direction: column;
  border: 1px solid lightgrey;
}
.subnav_cart_notification_hover>span,.subnav_cart_notification>span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
}
.subnav_cart_notification_span{
    border: transparent !important;
    justify-content: center !important;
    color: tomato;
    cursor: pointer;
}
.subnav_cart:hover>.subnav_cart_notification_hover{
    display: flex;
}

@media (max-width: 600px) {
  .subnav {
    display: none;
  }
  .subnav_modal_box{
    width: 98% !important; 
    height: 525px;
  }
  .subnav_modal_box_form_left{
    display: none;
  }
}
