.healthcheckoutCard{
    display: flex;
   
   margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 325px;
    height: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    margin-top: 10px;
}
.healthcheckoutCard>h6{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.healthcheckoutCard_checkout{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
}
.healthcheckoutCard_checkout>p{
    margin-left: 10px;
    text-align: justify;
}
@media screen and(max-width:600px){
    .healthcheckoutCard{
        width: 350px !important;
    }
}