.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}
.home_banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_heading_text {
  background-color: transparent !important;
  color: #6e798c !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
  margin-top: 10px;
}
.home_heading_text_second {
  display: flex;
  justify-content: space-between !important;
}
.home_heading_text_second > h6 {
  margin-left: 15px;
}
.home_heading_text_second > span {
  margin-right: 15px;
}
.home_heading_text > h6 {
  font-size: 35px;
  font-weight: 400;
}
.home_first {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 83%;
  margin-top: 20px;
}
.home_first_left {
  flex: 0.45;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.home_first_left_span {
  position: absolute;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  top: 85px;
}
.home_first_right_span {
  position: absolute;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  top: 85px;
}
.home_first_right {
  flex: 0.45;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.home_first_right_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}
.home_second1 {
  height: 250px;
  /* background-color: #111; */
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-x: scroll; */
  margin-top: 15px;
  background-color: #ffffff;
}
.home_second1::-webkit-scrollbar {
  display: none;
}
.home_second_card {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.home_second_card_text {
  position: absolute;
  top: 60px;
  left: 80px;
  text-align: center;
}
.home_third {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  /* overflow-x: scroll; */
  width: 100%;
  padding: 5px 10px;
  background-color: #ffffff;
}

.home_fourth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  background-color: #ffffff;
}
.home_five {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffffff;
}
.home_six {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 15px;
  background-color: #ffffff;
  padding: 5px 10px;
}
.home_seven {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 15px;
  background-color: #ffffff;
  padding: 5px 10px;
}
.home_heading_button {
  margin-right: 15px !important;
}
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}
.carousel-container {
  width: 100%;
 }
@media (max-width: 600px) {
  .home {
    width: 100%;
    /* margin-top: 20px; */
  }
  .home_heading_text {
    width: 100% !important;
    text-align: center;
  }
  .home_heading_text > h6 {
    font-size: 22px !important;
  }
  .home_first {
    flex-direction: column;
    width: 100%;
  }
  .home_first_left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .home_first_left > img,
  .home_first_right > img {
    height: 200px;
    width: 100%;
  }
  .home_first_right {
    flex: 1;
  }
  .home_first_right_top {
    justify-content: space-evenly;
  }
  .home_first_right_top > img {
    height: 100px;
  }
  .home_first_right_buttom > img {
    height: 110px;
    margin-top: 10px;
  }
  .home_second1 {
    width: 100% !important;
    height: 175px !important;
    align-items: center !important;
    justify-content: flex-start !important;
  }
  .home_second_card > img {
    height: 100px;
  }
  .home_second_card_text {
    top: 40px !important;
    left: 20px !important;
  }
  .home_third {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home_fourth {
    width: 100%;
  }
  .home_five {
    width: 100%;
    overflow-x: scroll;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home_six {
    width: 100%;
    overflow-x: scroll;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home_seven {
    width: 100%;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .home_heading_text_second > h6 {
    margin-left: 5px !important;
    margin-right: 5px;
  }
  .home_heading_text_second > span {
    margin-right: 5px !important;
  }
  .home_first_left_span,.home_first_right_span {
  
    top: 150px;
  }
}
@media only screen and (min-width:1200px) and (max-width:1480px){
  .home_first{
    width: 100%;
  }
}
