.productCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    color: #0E0808;
    min-width: 200px ;
    height: 250px ;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid lightgray;
    cursor: pointer;
  
}
.productCard:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.productCard_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.productCard_img>img{
    object-fit: contain;
    height: 100px;
}
.productCard_details{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5px;
    width: 100%;
    padding-left: 15px;
}
.productCard_details>h6{
    margin-bottom: 5px;
    margin-top: 5px;
}.productCard_details>p{
    margin-bottom: 5px;
    color: #0E08088A;
}
.productCard_button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(108, 152, 255);
    color: #fff;
    padding: 5px 8px;
    border: none;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}
@media(max-width:600px){
    .productCard{
      /* min-width: 85% !important; */
    }

}