.banner1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* margin: 10px 10px; */
    width: 95%;
}
.banner1>img{
    width: 95%;
}
@media only screen and (max-width:600px){
    .banner1{
        width: 100%;
        /* margin-top: 25px; */
   
    
    }
    .banner1>img{
        height: 90px;
        width: 100%;
        object-fit: contain;
    }
}