.preview{
    display: flex;
    align-items: center !important;
    justify-content: flex-start !important;
    flex-direction: row !important;
    gap: 10px;
    border: transparent !important;
}
.preview>img{
    height: 120px;
    width: 120px;
    object-fit: contain;
    border: 1px solid lightgrey;
}
.modal_form_product_details_details{
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}
.myprofile_right_form_form_top>div>input, .myprofile_right_form_form_bottom>div>input{
    padding-left: 10px !important;
}