.cartcard {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #fff;
}
.cartcard_img {
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.cartcard_img > img {
  height: 40px;
  object-fit: contain;
  
}
.cartcard_details,
.cartcard_quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.cartcard_quantity {
  margin-left: 10px;
  margin-right: 10px;
}
.cartcard_details > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.cartcard_details > span > strong {
  color: #28a745;
}
.cartcard_quantity > p {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.cartcard_details > img {
  height: 80px;
  object-fit: contain;
  margin-right: 8px;
}
@media(max-width:600px){
.cartcard{
    width: 350px;
    height: 250px;
}
}
