.featureCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    min-height: 250px;
    margin: 5px;
    margin-right: 15px;

}
.featureCard:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}
.featureCard_img{
    display: flex;
    align-items: center;
    border-radius: 50%;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.featureCard_img>img{
    object-fit: contain;
    border-radius: 50%;
    height: 150px;
    padding: 5px;
}
.featureCard_title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}